*{
    margin:0;
    padding: 0;

}

body{
    background-image: url(images/t5.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.main{
width: 80%;
height: 350px;
background-color: rgba(255, 255, 255, 0.13);
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
border-radius: 30px;

gap:5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.buttons{
    width:90%;
    height:100px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.b1{
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.b1:hover{
    background-color: rgb(255, 255, 255);
    color:black
    
}

.b2{
    
        background-color: rgb(253, 253, 253);
        color: rgb(0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        
    }
    .b2:hover{
        background-color: rgb(58, 54, 54);
        color:rgb(255, 255, 255)
        
    }


button{
    width:40%;
    height: 50px;
    text-align: center;
    text-decoration:none;
    border-radius: 15px;
    font-size: 0.9rem;
}

.time{
    width:90%;
    height:100px;
    
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 3.5rem;
    font-weight: bolder;
    gap: 50px; 
    color:white;
    
}

.icons{
    width:90%;
    height:100px;
   
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px;  
    font-size: 3rem;  
    color:white;
    cursor: pointer;
    
}